body{
    margin:0px;
}
header {
    background-color: #ADD8E6;
    color: #FF6347;
    padding: 10px;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    background-color: #F0F8FF;
    padding: 20px;
}

footer {
    text-align: center;
}
